@model SliderCreateVM

@{
    ViewData["Title"] = "Create";
}

<main>
    <div class="container" style="margin-right:100px">

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label"> Choose Image </label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*"> 
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit"class="btn btn-success">Create</button>
            <a asp-action="Index" class="btn btn-light">Cansel</a>
        </form>
    </div>
</main>
